:root {

/* COLORS */
--primary-color: #3b61a7;
--secondary-color: #71ebb0da;

--white-color: #fff;

--dark-grey: #333333;
--light-grey: #d2d2d2;

--dark-blue-text: #021045;

/* FONT SIZE */
--default-font-size: 1.6rem;
--big-font-size: 4rem;
--mid-font-size: 2.5rem;
}

html, body {
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--light-grey);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
    font-weight: 700;
}

p,  a {
    font-family: "Montserrat", sans-serif;
    font-size: var(--default-font-size);
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    transition: all 0.3s ease-in-out;
}

.section-title {
    margin: 0px;
    margin-bottom: 4.5rem;
    font-size: var(--big-font-size);
    font-weight: bold;
    text-transform: uppercase;
}

.dark-blue-text {
    color: var(--dark-blue-text) !important;
}

section {
    padding: 5rem 0rem;
  }

/* NAVIGATION BAR */

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__items {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.nav__item:not(:last-child) {
    margin-right: 5.5rem;
}

@media(max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: 3rem;
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: 1.8rem;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropdown-toggle {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    list-style-type: none;

  }

  .dropdown-menu a {
    float: left;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: none;
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--dark-blue-text);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--dark-blue-text);
}

/* HEADER SECTION */
.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url(../images/background.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 2.2rem;
}

.header__text-box {
    padding: 0rem 5.6rem;
}

.heading-primary {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    color: white;
}

.header__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    color: white;
}

.header__text-box a {
    display: flex;
    font-size: 2.4rem;
}

header .btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem var(--default-font-size);
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    -webkit-border-image: webkit-linear-gradient(
        135deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
      );
  
      border-image: linear-gradient(
        135deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
      );
  
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      color: var(--dark-grey);
}

header .btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    background-image: linear-gradient(
        135deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
    );
    width: 100%;
}

header .btn:hover {
    -webkit-text-fill-color: var(--white-color);
    text-decoration: none;
}

@media(max-width: 500px) {
    .header {
        text-align: center;
    }
}
  
/* HERO SECTION */
#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
    color: var(--white-color);
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
  
    /* Set position sticky so the jumbotron stays fixed while you scroll.
    position: sticky;
  
    If you want to set a background image on the hero section, uncomment these with your custom image
  
     background: url("/src/assets/[your-image].png");
    background-position: center;
    background-size: cover; */
  
.hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    color: rgb(14, 15, 23);
}
  
.hero-cta {
    display: flex;
}

.hero-cta a {
    font-size: 2.4rem;
}

/* BUTTONS */
/* Call to Action Button */
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem var(--default-font-size);
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.cta-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

/* Hero Style */
.cta-btn--hero {
    -webkit-border-image: webkit-linear-gradient(
      135deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );

    border-image: linear-gradient(
      135deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );

    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    color: var(--dark-grey);
}

.cta-btn--hero::after {
    background-image: linear-gradient(
        135deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
    );
}
  
.cta-btn--hero:hover {
    -webkit-text-fill-color: var(--white-color);
    text-decoration: none;
}

.cta-btn--hero::after {
    width: 100%;
}
  
/* Arrow Button */
.up i {
    color: #272727;
}


/* ABOUT SECTION */
#about {
    background-color: var(--primary-color);
    background-image: linear-gradient(
      135deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
    color: var(--white-color);
    height: 100%;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 10%;

    display: flex;
    justify-content: center;
    padding: 70px 20px;
}

@media(max-width: 750px) {
    .about img {
        display: none;
    }
}
  
.profile-about {
    max-width: 340px;
    margin-right: 8%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    transition: border 1s ease;
}

.profile-about:hover {
    border: 1px solid var(--white-color);
}

.article-about {
    max-width: 630px;
}

.article-about h2{
    margin-bottom: 20px;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

.paragraph-about {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

/* NOTES SECTION */
#notes {
    background-color: var(--white-color);
    color: var(--dark-blue-text);
    margin-top: -10rem;
    padding-top: 15rem;
}

.note-wrapper {
    margin-bottom: 15rem;  
}
  
.row {
    margin-bottom: 8rem;
}

.row__text {
    text-align: left;
}

.row-title {
    font-weight: bold;
    margin-bottom: 1.8rem;
    font-size: var(--mid-font-size);
}

.row p > a {
    color: var(--secondary-color);
}

.note-wrapper__image {
    border-radius: 50px;
}

.note-wrapper__image img {
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease-out;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.5s box-shadow,
      0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

 /* CONTACT SECTION */
  #contact {
    background-image: linear-gradient(
      135deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
    -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding: 15rem 0 10rem 0;
    margin-top: -10rem;
    margin-bottom: -1px;
    color: var(--white-color);
  }

  .contact-wrapper {
      margin-top: 3.2rem;
      padding: 0 2rem;
      backface-visibility: hidden;
  }

  .contact-wrapper__text {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
  }

  #contact .cta-btn {
    display: block;
    margin: auto;
    max-width: 200px;    
    padding: 15px;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.3s;
}

#contact .cta-btn:hover {
    background-color: #FAFAFA;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

   /* FOOTER SECTION */
   .footer {
    background-color: #444444;
    color: var(--white-color);
    padding: 4.8rem 0;
  }
  .footer__text {
    color: darken(var(--white-color), 50%);
    font-size: 1.3rem;
  }
  .footer__text a {
    color: darken(var(--white-color), 50%);
    font-size: 1.3rem;
    transition: all 0.4s;
    display: inline-block;
    background-color: var(--dark-grey);
  }
  .footer__text a:hover, .footer__text a:active {
    color: var(--primary-color);
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .social-links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    width: 5rem;
    height: 5rem;
    transition: all 0.2s ease-in;
  }

  .social-links a:hover {
    transform: translateY(-2px);
  }
  
  .back-to-top i {
    color: var(--white-color);
    margin: 1rem 0 var(--default-font-size);
    transition: all 0.2s ease-in;
  }
  .back-to-top i:hover {
    transform: translateY(-2px);
  }
  .mb-8 {
    margin-bottom: 8rem !important;
}